APP_PORT=8080
PORT=8080

# Use localhost quando rodar a API fora do Docker
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=wallet
POSTGRES_PASSWORD=wallet
POSTGRES_DB=wallet_db

REDIS_HOST=localhost
REDIS_PORT=6379

IDEMPOTENCY_TTL=24h
IDEMPOTENCY_LOCK_TTL=30s

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=wallet
RABBITMQ_PASSWORD=wallet
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=wallet.events
RABBITMQ_QUEUE=wallet

# Seeder defaults (cmd/seed)
SEED_COUNT=25
